.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height to fit the context */
    background-color: transparent; /* Transparent background */
}

.loader-logo {
    width: 150px;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
